.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: sienna;
}

.header {
  width: 100vw;
  min-height: 10vh;
  margin: 1vh auto;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__title {
  font-size: calc(20px + 2vmin);
  margin: auto;
}

.content {
  width: 100%;
  min-height: 75vh;
  background-color: skyblue;
}

.footer {
  width: 100vw;
  min-height: 8vh;
  margin: 1vh auto;
  background-color: deepskyblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__text {
  margin: auto;
}