.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto;
    max-width: 50vw;
}
.form__output {
    margin-top: 2vh;    
}
.form__input {
    margin-top: 2vh;
}
.form__button {
    outline: none;
    height: 30px;
    margin-top: 2vh;
    font-size: 20px;
    color: orangered;
    background-color: springgreen;
    border: 1px solid chartreuse;
    border-radius: 4px;
}